
<h2>Quiz</h2>
<form method="post">
    {% csrf_token %}
    {% for q in questions %}
        <p>{{ q.question_text }}</p>
        <input type="radio" name="{{ q.id }}" value="{{ q.option1 }}"> {{ q.option1 }}<br>
        <input type="radio" name="{{ q.id }}" value="{{ q.option2 }}"> {{ q.option2 }}<br>
        <input type="radio" name="{{ q.id }}" value="{{ q.option3 }}"> {{ q.option3 }}<br>
        <input type="radio" name="{{ q.id }}" value="{{ q.option4 }}"> {{ q.option4 }}<br>
        <hr>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
